@font-face {
    font-family: 'Anak Bijak';
    src: url('../font/anak_fontface/AnakBijak.woff2') format('woff2'),
        url('../font/anak_fontface/AnakBijak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
     background-color:rgb(246, 246, 246);
}

.sidebar-image{
    background: url(../images/sidebar_image.jpg);
    height: 100vh;
    width:400px;
    display:flex;
    flex-direction:column;
    color:white;
    justify-content:space-between;
    text-align:center;
    
}

.sidebar-image p{
    color:black;
}

.logo{
    width:70px;
}

.odin-title{
    background-color:black;
    opacity: 0.7;
    margin-top:150px;
    display:flex;
    font-size:30px;
    justify-content:center;
    align-items:center;
    padding:10px 0;
    font-family: 'Anak Bijak';

}

.header-content{
    padding:100px 0px 30px 30px;
    font-weight: bold;
    font-size:1.3rem;
    
}

.header-content>p{
    width:550px;
    margin-bottom:15px;

}

.inputs-container{
    display:flex;
    flex-wrap:wrap;
    width:50%;
    justify-content:space-around;
}

.inputs{
    margin-bottom:10px;
}

input{
    border-radius:4px;
}

input[type='password']:user-invalid{
    border-color:red;

}

label{
    display:block;
  
}

form{
    padding: 20px 0px;
    background-color:white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
   
}

form p{
    font-size:1.3rem;
    margin-left:40px;
    margin-bottom:20px;
}

.log-in{
    padding-left:30px;
}

.log-in a{
    color:#596D48;
    
}

button{
    background-color:#596D48;
    margin: 30px 0 20px 0;
    padding:10px 30px;
    border-radius:5px;
    color:white;
}